{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}
{% else %}
  {% assign author = site.author %}
{% endif %}

{% assign current_lang = page.lang | default: "en" %}

<div itemscope itemtype="http://schema.org/Person">

  <div class="author__avatar">

    {% if author.avatar contains "://" %}

      <img
        src="{{ author.avatar }}"
        alt="{{ author.name }}"
        fetchpriority="high">

    {% else %}

      <img
        src="{{ author.avatar | prepend: '/images/' | prepend: base_path }}"
        alt="{{ author.name }}"
        fetchpriority="high">

    {% endif %}

  </div>

  <div class="author__content">

    <h3 class="author__name">
      {{ author.name }}
    </h3>

    {% if author.pronouns %}
      <p class="author__pronouns">
        {{ author.pronouns }}
      </p>
    {% endif %}

    {% assign bio_key = "bio_" | append: current_lang %}
    {% assign localized_bio = author[bio_key] | default: author.bio %}

    {% if localized_bio %}
      <p class="author__bio">
        {{ localized_bio }}
      </p>
    {% endif %}

  </div>

  {% include author-social-buttons.html
     author=author
     current_lang=current_lang %}

</div>
